# Banking Dataset - Análise exploratória

Os depósitos a prazo representam uma importante fonte de receita para os bancos. Trata-se de um investimento em dinheiro retido em uma instituição financeira, onde o montante é investido por um período fixo, a uma taxa de juros previamente acordada. Para maximizar a captação desses depósitos, os bancos implementam diversas estratégias de marketing direto, incluindo marketing por e-mail, publicidade, telemarketing e marketing digital.

Dentre essas estratégias, o telemarketing continua sendo um dos métodos mais eficazes para alcançar os clientes. No entanto, essa abordagem exige um grande investimento, pois grandes centrais de atendimento são contratadas para executar essas campanhas. Portanto, é crucial identificar previamente os clientes com maior probabilidade de conversão, de modo que possam ser especificamente alvo dessas campanhas.

Este notebook focará na análise exploratória dos dados relacionados às campanhas de marketing direto (chamadas telefônicas) de uma instituição bancária portuguesa.

Nas seções seguintes, exploraremos os dados disponíveis, realizaremos a limpeza e o pré-processamento necessários e, finalmente, analisaremos diversas características dos clientes para identificar padrões que impactam a chance de um cliente efetuar o depósito, mensurado pela nossa variável resposta _y_. 

A fonte dos dados é [_Banking Dataset - Marketing Targets_](https://www.kaggle.com/datasets/prakharrathi25/banking-dataset-marketing-targets) do Kaggle.

# Índice

- [1.0 Dicionário de dados](#1_0)
- [1.1 Configurações e bibliotecas](#1_1)

# <a id='1_0'></a> 1.1 Dicionário de dados

| Variável  | Tipo de Variável   | Descrição                                                |
|-----------|--------------------|----------------------------------------------------------|
| age       | Numérica Discreta  | Idade do cliente.                                        |
| job       | Categórica Nominal | Tipo de trabalho do cliente.                             |
| marital   | Categórica Nominal | Estado civil do cliente.                                 |
| education | Categórica Ordinal | Nível de educação do cliente.                            |
| default   | Categórica Nominal | Cliente tem crédito em default.                          |
| balance   | Numérica Contínua  | Saldo anual médio, em euros.                             |
| housing   | Categórica Nominal | Cliente tem empréstimo imobiliário.                      |
| loan      | Categórica Nominal | Cliente tem empréstimo pessoal.                          |
| contact   | Categórica Nominal | Tipo de comunicação de contato.                          |
| day       | Categórica Ordinal | Dia do último contato.                                   |
| month     | Categórica Ordinal | Mês do último contato.                                   |
| duration  | Numérica Contínua  | Duração do último contato, em segundos.                  |
| campaign  | Numérica Discreta  | Número de contatos realizados durante esta campanha.     |
| pdays     | Numérica Discreta  | Dias desde o último contato de uma campanha anterior.    |
| previous  | Numérica Discreta  | Número de contatos realizados antes desta campanha.      |
| poutcome  | Categórica Nominal | Resultado da campanha de marketing anterior.             |
| y         | Categórica Nominal | Cliente fez um depósito dentro do prazo.                 |


# <a id='1_1'></a> 1.2 Configurações e bibliotecas

In [15]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# <a id='1_3'></a> 1.3 Conversão de CSV para Parquet

O conjunto de dados original está dividido em dois arquivos de formato CSV: `train.csv` e `test.csv`. 
Converteremos os arquivos CSV para Parquet para tirar proveito de sua eficiência no armazenamento, leitura eficiente e melhor desempenho em consultas. Vamos manter os originais na pasta `data/raw` e os convertidos na pasta `data/bronze`.

Nossa análise exploratória será feita usando apenas dados do conjunto de treino.

In [29]:
# Leitura dos dados em CSV
raw_banking_train = pd.read_csv('data/raw/train.csv', sep = ';')
raw_banking_test = pd.read_csv('data/raw/train.csv', sep = ';')

# Convertendo para Parquet na camada bronze
raw_banking_train.to_parquet('data/bronze/banking_train.parquet')
raw_banking_test.to_parquet('data/bronze/banking_test.parquet')

# Visualizando algumas informações sobre nossos dados
print(raw_banking_train.shape)
raw_banking_train.head()

(45211, 17)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no